# Ignore everything
*

# Include these files
!.editorconfig
!.gitignore
!.prettierrc.yml
!.rustfmt.toml
!Cargo.lock
!Cargo.toml
!LICENSE.md
!README.md
!*.rs

# Include files from these directories
!.github/
!.github/workflows/
!.github/workflows/*.yml

!.vscode/
!.vscode/extensions.json
!.vscode/settings.json

!tavern/
!tavern/**/

!tavern_client/
!tavern_client/**/

!tavern_server/
!tavern_server/**/
